version: "3"
services:

  finance_database:
    container_name: msa_finance_db
    image: postgres:9.3
    ports:
      - "54320:5432"
    environment:
      POSTGRES_DB: "msa_finance_db"
      POSTGRES_USER: "msa_user"
      POSTGRES_PASSWORD: "msa_password"

  hr_database:
    container_name: msa_hr_db
    image: postgres:9.3
    ports:
      - "54321:5432"
    environment:
      POSTGRES_DB: "msa_hr_db"
      POSTGRES_USER: "msa_user"
      POSTGRES_PASSWORD: "msa_password"

  example_database:
    container_name: msa_example_db
    image: postgres:9.3
    ports:
      - "54322:5432"
    environment:
      POSTGRES_DB: "msa_example_db"
      POSTGRES_USER: "msa_user"
      POSTGRES_PASSWORD: "msa_password"